<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<title>Add User</title>
</head>
<body>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>Add User</h3>
		</div>
		<form action="#" th:action="@{/crud/crear}" th:object="${usuario}"
			method="post">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" id="name"
						placeholder="name usuario..." required="required"
						th:field="*{name}" />
					<p typeth:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						class="atert atert-danger" />
				</div>
			</div>
			<div class="form-group">
				<label for="age" class="col-sm-2 control-label">age</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="age" id="age"
						placeholder="age usuario..." required="required" th:field="*{age}" />
					<p typeth:if="${#fields.hasErrors('age')}" th:errors="*{age}"
						class="atert atert-danger" />
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">phone</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="phone" id="phone"
						placeholder="phone usuario..." required="required"
						th:field="*{phone}" />
					<p typeth:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
						class="atert atert-danger" />
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">email</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" name="email" id="email"
						placeholder="email usuario..." required="required"
						th:field="*{email}" />
					<p typeth:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="atert atert-danger" />
				</div>
			</div>
			<div clas="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"
						style="position: relative; left: 100px; top: 16px;">Create</button>
				</div>
			</div>
			<div class="col-sm-offset-2 col-sm-10">
				<a class="btn btn-info" href="/crud"
					style="position: relative; left: px; top: -18px;"> Go back</a>
			</div>
			<label th:text="${usuario.error}"></label>
		</form>
</body>
</html>